@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

/* Use `skeleton-4.css` after next release, although 3 and 4 are identical */
/* @import 'layerchart/skeleton-4.css'; */
@import 'layerchart/skeleton-3.css';

@custom-variant dark (&:where(.dark, .dark *));
